<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="\index.js"></script> -->
</head>
<body>
    <form action="http://localhost:8080/rCenters" method="get">
        <div>
            <br><br>
            <button id="submit" type="button"> Access_location</button>
        </div>
    </form>
    <script src="/index.js"></script> <!-- Ensure this file is inside 'public/js/' -->
</body>
</html>